## step 1.导入类库

In [1]:
import pandas as pd
import numpy as np

## step 2.导入数据文件

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

## step 3.查看前10行

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

## step 4. 查看行数

In [4]:
chipo.shape[0]

4622

## step 5.查看列数

In [5]:
chipo.shape[1]

5

## step 6.查看列名

In [6]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

## step 7.订单最多的商品

In [8]:
c = chipo.groupby('item_name')

In [9]:
c=c.sum()

In [10]:
c=c.sort_values(["quantity"],ascending=False)

In [11]:
c.head(10)

                              order_id  quantity
item_name
Chicken Bowl                    713926       761
Chicken Burrito                 497303       591
Chips and Guacamole             449959       506
Steak Burrito                   328437       386
Canned Soft Drink               304753       351
Chips                           208004       230
Steak Bowl                      193752       221
Bottled Water                   175944       211
Chips and Fresh Tomato Salsa    100419       130
Canned Soda                      76396       126

## step 8.总共多少订单（求某一列的行）

In [12]:
chipo.quantity.sum()

4972

## step9.将“item_price”列设置为float类型

In [13]:
chipo.item_price.dtype

dtype('O')

In [25]:
chipo.item_price=chipo.item_price.apply(lambda x : float(x[1:-1]))

In [27]:
chipo.item_price.dtype

dtype('float64')

## step 10.求总收入（两列乘积之和）

In [28]:
chipo['sub_total'] = round(chipo['item_price'] * chipo['quantity'],2)
chipo['sub_total'].sum()

39237.02

## step 11.求一共多少订单（对某列值去重，计数）

In [29]:
chipo.order_id.value_counts().count()

1834

In [33]:
chipo.order_id.nunique()

1834

## step 12.求订单均价（求某列平均值）

In [30]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654